@using masodik.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    @*<meta charset="utf-8 " http-equiv="refresh" content="2;URL= "/Proba" />*@
    <title></title>
</head>
<body>
    @{
            var data = ViewBag.Message;

        }
    <h1>Welcome @data to the chat app!</h1>
    <br />
    Send message
    <input type="text" name="name" id='value'>

    <button type="button">Send message</button>

    <table id="mytable" align="center">
        <thead>
        </thead>
        <tbody id='content'>
        </tbody>
    </table>




</body>
<script>
    var field = document.getElementById("value");
    var button = document.querySelector('button');

    if (button) {
        button.addEventListener('click', addValue, false);
    }

    function addValue() {
        if (field.value !== '') {
            var table = document.querySelector('#content');

            var tr = document.createElement('tr');
            var td = document.createElement('td');

            td.innerText = field.value;
            tr.appendChild(td);
            table.appendChild(tr);
            field.value = '';
        }
    }
</script>


</html>