@using masodik.Models
@{
    Layout = null;
    var data = ViewBag.Message;
}
<form action="Reg" method="post">
    <input type="text" name="username" placeholder="Username" /><br />
    <input type="password" name="password" placeholder="Password" /><br />
    <input type="password" name="password2" placeholder="repeat password" /><br />
    @Html.AntiForgeryToken()
    <input type="submit" name="submit" value="Register" />
</form>
@{
    if (!String.IsNullOrEmpty(data))
    {
    <h4 style="color:red">@ViewBag.Message</h4>
    }

}


<script>

    function checkPassword() {
        alert("Please enter Password");
    }
</script>

