
@using masodik.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @{
        var data2 = ViewBag.Message;
    }
    <h1>Bejelentkezve</h1>

    <h3>SessionAge: @data2</h3>
</body>

</html>
